@import url('./weather-icons-master/css/weather-icons.min.css');

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.search-current {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}