.search-input {
  width: 400px;
  height: 30px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  padding: 0 0 0 4px;
  background-color: #ffffff94;
  font-family: 'Comfortaa', cursive;
}

.search-input::placeholder {
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  padding: 0 0 0 4px;
}

.submit-button {
  margin: 0 0 0 5px;
  height: 34px;
  width: 75px;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.5s;
  outline: none;
  background-color: #ffffff94;
  color: #01010b;
  font-family: 'Comfortaa', cursive;
}

.submit-button:hover {
  box-shadow: inset 1px 1px 1px #464654;
  cursor: pointer;
}