.day-container {
  display: flex;
  background-color: #100b1d97;
  box-shadow: 0 14px 45px #0000006d, 0 18px 45px #0000006d;
  margin: 100px 0 0 0;
  border-radius: 10px;
  width: 1300px;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  transition: 0.8s;
}

.day-container:hover {
  background-color: #100b1d84;
  box-shadow: 0 10px 40px #0000006d, 0 13px 40px #0000006d;
}

.day-card {
  /* margin: 10px; */
}

.day,
.high-low {
  color: #99cfe1;
  font-family: 'Comfortaa', cursive;
  /* margin: 8px 0 0 0; */
}

.day {
  font-size: 20px;
}

@media (max-width: 1313px) {
  .day {
    font-size: 15px;
  }

  .day-container {
    width: 1000px;
    margin: 50px 0 0 0;
  }
}

@media (max-width: 1010px) {
  .day-container {
    overflow: scroll;
  }

  .day-card {
    margin: 10px;
    width: 100px;
  }
}